body{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        /*overflow-x: hidden;*/

    }

    .navbar-brand {
        font-size: 2rem;
        color: black;
        font-family: 'Lobster', cursive;
    }

    .nav-link {
        margin-right: 10px;
        margin-left: 10px;
        /* color: rgb(248, 26, 92); */
        font-family: 'Rubik', sans-serif;
        text-transform: uppercase;
        font-weight: 1000;
    }

    .navbar-toggler-icon {
        background-image: url(logo.jpeg);
        padding: 0%;
    }

    .search {
        height: 40px;
        width: 80%;
        border-radius: 60px;
        outline: none;
        margin-right: -35px;
        font-family: 'Rubik', sans-serif;
        border: 2px solid rgb(248, 26, 92);
    }

    .btn0 {
        height: 40px;
        width: 40%;
        outline: none;
        border: none;
        background: rgb(248, 26, 92);
        color: white;
        border-radius: 60px;
        font-weight: 700;
    }
     .logo {
          width: 80px;
          height: auto;
          margin-right:10px;
    }

    .main {
        background: url(./background\ image1.jpeg)no-repeat;
        background-size: cover;
        height: 93.7vh;
        background-position: 50% 50%;
        width: 100%;
        margin-top: 50px;
        margin-right: 0%;
    }

    .main h1 {
        font-size: 4rem;
        font-weight: 700;
    }

    .btn1 {
        height: 45px;
        width: 35%;
        border: none;
        outline: none;
        background-color: rgb(248, 26, 92);
        color: white;
        font-weight: 700;
        border-radius: 60px;

    }

    .btn1:hover {
        background-color: white;
        color: black;
        transition: 0.5s;
    }

    .h1 {
        font-weight: 700;
    }

    .heading {
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        margin: 20px auto;
    }

    .heading h4 {
        padding: 50px;
        font-size: 50px;
        color: #000;
        margin-bottom: 25px;
        position: relative;
    }

    .heading h4::after {
        content: "";
        position: absolute;
        width: 70%;
        height: 4px;
        display: block;
        margin: 0 auto;
        background-color: #4caf50;
    }

    .content {
        padding: 10px;
    }

    .small-image {
        max-height: 300px;
        width: auto;
    }

    .about-content {
        margin-top: 30px;
    }


    .card-img-top {
        height: 280px;
    }
    .abc{
        height:10px;

    }
    .products-preview{
        position: fixed;
        top:0; left: 0;
        min-height:100vh;
        width: 100%;
        background:rgba(0,0,0,.8);
        display :none;
        align-items: center;
        justify-content: center;
        z-index: 9999;
    }

    .products-preview .preview{
        display: none;
        padding:2rem;
        text-align: center;
        background: #fff;
        position: relative;
        margin: 2rem;
        width:40rem;
    }
    .products-preview .preview.active{
        display: inline-block;
    }
    .products-preview .preview img{
        height: 20rem ;
    }
    .products-preview .preview .fa-times{
        position: absolute;
        top:2rem; right:1.5rem;
        cursor:pointer;
        color: #444;
        font-size: 1.5rem;
    }
    .products-preview .preview .fa-times:hover{
        transform: rotate(90deg);
     }
     
     .products-preview .preview h3{
        color:#444;
        padding:.5rem 0;
        font-size: 2.0rem;
     }
     
     .products-preview .preview .stars i{
        padding:1rem 0;
        font-size: 1rem;
     }
     
     .products-preview .preview .stars i{
        color:#27ae60;
     }
     
     .products-preview .preview .stars span{
        color:#999;
     }
     
     .products-preview .preview p{
        line-height: 1.5;
        padding:1rem 0;
        font-size: 1.0rem;
        color:#777;
     }
     
     .products-preview .preview .price{
        padding:1rem 0;
        font-size: 1.5rem;
        color:#27ae60;
     }
     
     .products-preview .preview .buttons{
        display: flex;
        gap:4rem;
        flex-wrap: wrap;
        margin-top: 1rem;
     }
     
     .products-preview .preview .buttons a{
        flex:1 1 16rem;
        padding:0.5rem;
        font-size: 1.4rem;
        color:#444;
        border:.1rem solid #444;
        text-decoration: none;
     }
     
     .products-preview .preview .buttons a.cart{
        background: #444;
        color:#fff;
     }
     
     .products-preview .preview .buttons a.cart:hover{
        background: #111;
     }
     
     .products-preview .preview .buttons a.buy:hover{
        background: #444;
        color:#fff;
     }
     @media (max-width:991px){

        html{
           font-size: 55%;
        }
     
     }
     
     @media (max-width:768px){
     
        .products-preview .preview img{
           height: 25rem;
        }
     
     }
      

    .kurkure {
        padding-right: 70px;
        padding-left: 70px;
    }
    
    .milk {
        padding-right: 60px;
        padding-left: 60px;
    }

    .syrup {
        padding-left: 50px;
        padding-right: 50px;
    }

    .maggie {
        padding-right: 70px;
        padding-left: 70px;
    }

    .beans {
        padding-right: 70px;
        padding-left: 70px;
    }

    .snkrs {
        padding: 50px;
    }

    .ragi {
        padding-left: 60px;
        padding-right: 60px;
    }

    .chips {
        padding-left: 90px;
        padding-right: 90px;
    }

    .poha {
        padding-left: 90px;
        padding-right: 90px;
    }

    .pasta {
        padding-right: 90px;
        padding-left: 90px;
    }

    .chocos {
        padding-right: 50px;
        padding-left: 50px;
    }

    .cashews {
        padding-right: 70px;
        padding-left: 70px;
    }

    .pista {
        padding-left: 20px;
        padding-bottom: 20px;
    }

    .mango {
        padding-left: 20px;
        padding-right: 20px;
    }

    .thumbsup {
        padding-left: 70px;
        padding-right: 70px;
    }

    .dates {
        padding-left: 70px;
        padding-right: 70px;
    }

    .cow {
        padding-left: 70px;
        padding-right: 70px;
    }

    #Load-more {
        margin-top: 20px;
        display: inline-block;
        padding: 13px 30px;
        color: white;
        font-weight: 700;
        background-color: rgb(248, 26, 92);
        border-radius: 60px;
        cursor: pointer;
    }

    #Load-more:hover {
        background-color: rgb(151, 204, 151);
        color: black;
        border-radius: 60px;
    }

    #ALoad-more {
        margin-top: 20px;
        margin-left: 5%;
        display: inline-block;
        padding: 13px 30px;
        color: white;
        font-weight: 700;
        background-color: rgb(248, 26, 92);
        border-radius: 60px;
        cursor: pointer;
    }

    #ALoad-more:hover {
        background-color: rgb(151, 204, 151);
        color: black;
        border-radius: 60px;
    }

    #BLoad-more {
        margin-top: 20px;
        margin-left: 5%;
        display: inline-block;
        padding: 13px 30px;
        color: white;
        font-weight: 700;
        background-color: rgb(248, 26, 92);
        border-radius: 60px;
        cursor: pointer;
    }

    #BLoad-more:hover {
        background-color: rgb(151, 204, 151);
        color: black;
        border-radius: 60px;
    }

    /*.nature {
        background-color: #fff;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
        display: none;
    }

    .nature:nth-child(1),
    .nature:nth-child(2) {
        display: inline-block;
    }*/

    .main1 {
        background: url(./cartoon\ .jpeg)no-repeat;
        background-size: cover;
        height: 93.7vh;
        background-position: 50% 50%;
        width: 100%;
        margin-top: 50px;
        margin-right: 0%;
    }

    .main1 h3 {
        font-weight: 600;
        margin-left: 400px;
        display: flex;
        position: fixed;
        text-align: center;
        top: 15px;
    }

    body {
        font-family: 'Poppins', sans-serif;
        background-color: #f8f9fa;
    }

    .first_col {
        background-color: white;
        height: 450px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        position: relative;
        width: 550px;
        left: 155px;
        top: 50px;
        border-radius: 20px;
    }

    .img-fluid {
        border-radius: 20px;
        max-height: 400px;

    }

    .row-last {
        /* width: 100%; */
        position: relative;
        left: 0;
        top: 50px;
        /* height: 160px; */
        background-color: #b7ae8d;
        border-radius: 20px;
    }

    .mb-3 button {
        background-color: rgb(248, 26, 92);
        border-color: white;
    }

    .mb-3 button:hover {
        background-color: rgb(151, 204, 151);
        border-color: white;
        color: black;
    }


    .form-control {
        height: 52px;
        background: #fff;
        font-size: 14px;
        border-radius: 2px;
        -webkit-box-shadow: none;
        box-shadow: none;
        border: 1px solid #c1b688;
    }

    .form-control[type=text]:focus {
        border: 2px solid #555;
    }
    .book-now-button {
        position: relative; /* Position relative for button alignment */
        top: -40px; /* Adjust this value to align the button as needed */
        left: -10px;
        background-color: rgb(250, 92, 92) !important;
        border: none !important;
        border-radius: 13px !important;
        size: 50px;
    }